<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ежедневник Туриста{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div class="search"></div>
    <div class="menu">
        <div class="navigation">
            <a href="#" class="active">Ежедневник</a>
            <a href="#">Календарь</a>
            <a href="#">Карта</a>
            <a href="#">Цели и достижения</a>
            <a href="#">Рекомендации</a>
        </div>
        <div class="profile">
            <a href="#">Никнейм</a>
            <div class="avatar"></div>
        </div>
    </div>
    <div class="content">
        <input type="search" name="search">
        {% block content %}Контент{% endblock content %}
        <p>Поиск...</p>
    </div>
    <div class="dailyplanner">
        <div class="plus">
            <img src="{{ url_for('static', filename='vectors/plus.svg') }}" alt="">
        </div>
        <div class="baza">
            <div class="diary">
                <div class="notice active">
                </div>
                <a href="#" class="heading">Заголовок</a>
                <a href="#" class="txt">текст</a>
            </div>
            <div class="diary">
                <div class="notice">
                </div>
                <a href="#" class="heading">Заголовок</a>
                <a href="#" class="txt">текст</a>
            </div>
        </div>
    </div>
</body>
</html>