body {
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    width: 360px;
    max-width: 60%;
    height: 100%;
    background-color: #CCCCFF;
    color: #fff
}

.btn {
    position: fixed;
    width: 315px;
    height: 75px;
}

.menu .navigation {
    position: fixed;
    width: 360px;
    max-width: 50%;
    height: 575px;
    top: 300px;
}

.menu .navigation a {
    display: flex;
    height: 75px;
    width: 100%;
    margin: 20px auto;

    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #9595FF;
    font-family: Inter, Segoe WPC, Segoe UI, sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    max-width: 315px;
}

.menu .navigation a:hover {
    transform: scale(105%);
}

.menu .navigation a.active {
    background-color: #7070FF;
    font-weight: bold;
}

.profile {
    background-color: #ffffff00;
    height: 110px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    width: 30%;
    max-width: 360px;
}

.avatar {
    background-color: #7070FF;
    height: 95px;
    width: 95px;
    left: 15px;
    bottom: 7px;
    border-radius: 100px;
    position: fixed;
    max-width: 10%;
}

.menu .profile a {
    color: #000000;
    font-width: 20%;
    left: 137px;
    bottom: 40px;
    font-size: 24px;
    width: 106px;
    font-family: Inter, Segoe WPC, Segoe UI, sans-serif;
    text-decoration: none;
    position: fixed;
    font-size: max 106px;
}

.content {
    background-color: #ffffff00;
    position: fixed;
    left: 360px;
    width: calc(100% - 360px);
}

.content input[type="search"] {
    background-color: #E5E5E5;
    color: #B2B2B2;
    position: fixed;
    width: 1403px;
    margin: 20px 10%;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    border: 0px;
}

.content p {
    position: fixed;
    color: #888888;
    width: 100px;
    font-size: 24px;
    bottom: 1235px;
    left: 630px;
    font-family: Inter, Segoe WPC, Segoe UI, sans-serif;
    text-decoration: none;
}

.menu .profile a:hover {
    transform: scale(105%);
}

.menu .profile .avatar:hover {
    transform: scale(105%);
}

.baza {
    position: absolute;
    width: calc(100% - 360px);
    top: 126px;
    left: 360px;
}

.diary {
    position: relative;
    height: 183px;
    width: 90%;
    background-color: #E5E5E5;
    margin: 50px 5%;
    border-radius: 20px;
    transition: transform 0.5s;
}

.diary .notice.active {
    background-color: #7070FF;
    content: "✓";
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.diary a.heading {
    position: absolute;
    font-size: 32px;
    color: #000000;
    top: 10px;
    left: 20px;
    text-decoration: none;
    font-family: Inter, Segoe WPC, Segoe UI, sans-serif;
}

.diary .notice {
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #9c9c9c;
    border-radius: 100px;
    bottom: 30px;
    right: 30px;
}

.diary a.txt {
    position: absolute;
    font-size: 24px;
    color: #626262;
    top: 52px;
    left: 20px;
    font-family: Inter, Segoe WPC, Segoe UI, sans-serif;
    text-decoration: none;
}

.diary:hover {
    transform: scale(101%);
}

.plus {
    position: fixed;
    background-color: #CCCCFF;
    height: 95px;
    width: 95px;
    top: 1175px;
    left: 2434px;
    border-radius: 100px;
}

.plus a {
    position: fixed;
    font-size: 64px;
    top: 1180px;
    left: 2463px;
    color: #fff;
    font-family: Inter, Segoe WPC, Segoe UI, sans-serif;
    text-decoration: none;
}

/* 
@media (max-width: 1200px) {
    .menu {
        width: 30%;
    }
} 

*/
